<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>Contact Us</h1>
        <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, temporibus?</p> -->
      </div>
    </div>
  </div>
</header>

<!-- CONTACT SECTION -->
<section id="contact" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-4 my-3">
          <div class="card-body">
            <h4>Get In Touch</h4>
            <p>We are here to answer any questions you may have.</p>
            <h4>Address</h4>
            <p>A~G~23, Block A Jalan PJS 2B/3, Pusat Perniagaan Metro Square, 46150 Petaling Jaya, Selangor, Malaysia
            </p>
            <h4>Email</h4>
            <p>trade@tradfield.com</p>
            <h4>Phone</h4>
            <p>+60 3 7772 2725</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card p-4 my-3">
          <div class="card-body">
            <h3 class="text-center">Please submit your questions and enquires.</h3>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Phone Number">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="submit" value="Submit" routerLink="/" class="btn btn-outline-danger btn-block">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>