#page-header {
  height: 200px;
  background: url('../../../assets/img/image10.png');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}
