.about-img {
  margin-top: -50px;
}

#page-header {
  height: 200px;
  background: url('../../../assets/img/image9.jpg');
  background-position: 0 -160px;
  // background-attachment: fixed;
  color: #682a2a;
  border-bottom: 1px #eee solid;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}
