<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>About Us</h1>
        <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, temporibus?</p> -->
      </div>
    </div>
  </div>
</header>

<!-- ABOUT SECTION -->
<section id="about" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-5">
        <h1 class="pt-1">What We Do</h1>
        <p>We are 100% malaysian owned and operated company. We deliver malaysian products and services across the globe. Tradfield's
          extensive network of supplier and customer partners in North America and Asia enable our company to deliver an
          exceptionally high standard of products and after sales service. Our companies established network and long term
          relationships allows us to continue the commitment to be the number one.</p>

        <h1 class="pt-3">Our Business Area</h1>
        <p>Tradfield is a leading import and export Company in Malaysia. Our motto has always been timely service, Best quality
          and optimum cost. We are in touch with our customers through quality, performance, service and assistance. Tradfield
          bringing the best of value to our customers, we also care as much about our customers. We value the trust and beliefs
          vested in us by our clients and professional contacts and provide a dedicated service with an honest and direct
          approach in all our dealings. We have dedicated professional staff for each field to get the best solution for
          your requirements.</p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/img/about-whatWeDo.jpg" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
      </div>
    </div>
  </div>
</section>