<!-- SHOWCASE SLIDER -->
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-left mb-5">
            <h1 class="display-6 text-light font-weight-bold">We Import and export your products to</h1>
            <p class="display-3 font-weight-bold">existing markets.</p>
            <!-- <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a> -->
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-left mb-5">
            <h1 class="display-6 text-light font-weight-bold">We Import and export your products to</h1>
            <p class="display-3 font-weight-bold">existing markets.</p>
            <!-- <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a> -->
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-left mb-5">
            <h1 class="display-6 text-light font-weight-bold">We Import and export your products to</h1>
            <p class="display-3 font-weight-bold">existing markets.</p>
            <!-- <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a> -->
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<!--HOME ICON SECTION  -->
<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-phone fa-3x mb-2"></i>
        <h3>Questions?
          <small class="text-warning">Call Us</small>
        </h3>
        <p>If you would like to know more about Tradfield and its business areas, Please get in touch. we’d love to here from
          you.
        </p>
        <a class="text-warning" routerLink="/contact">
          +60 3 7772 2725
        </a>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-user fa-3x mb-2"></i>
        <h3>Contact
          <small class="text-warning">Sales</small>
        </h3>
        <p>Get answers before you purchase or make a purchase from award winning sales team. We are here to match the best for
          your needs.</p>
        <a class="text-warning" routerLink="/contact">
          Contact Sales
        </a>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-commenting-o fa-3x mb-2"></i>
        <h3>Get a
          <small class="text-warning">Quote</small>
        </h3>
        <p>If you would like to get a quote on specific product, please get in touch. We'd love to help you out with best price.</p>
        <a class="text-warning" routerLink="/contact">
          Get a Quote
        </a>
      </div>
    </div>
  </div>
</section>

<!-- HOME HEADING SECTION -->
<section id="home-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>OUR BUSINESS AREAS</h1>
          <p class="d-none d-md-block">Tradfield is a leading import and export Company in Malaysia. Our motto has always been timely service, Best quality
            and optimum cost. We are in touch with our customers through quality, performance, service and assistance.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- INFO SECTION -->
<section id="info" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Tradfield</h3>
        <p>Bringing the best of value to our customers, we also care as much about our customers. We value the trust and beliefs
          vested in us by our clients and professional contacts and provide a dedicated service with an honest and direct
          approach in all our dealings. We have dedicated professional staff for each field to get the best solution for
          your requirements.</p>
        <a routerLink="/about" class="btn btn-outline-danger btn-lg">Learn More</a>
      </div>
      <div class="col-md-6">
        <img src="img/laptop.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<!-- VIDEO PLAY -->
<section id="video-play">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container p-5">
          <a href="#" class="video" data-video="https://www.youtube.com/embed/S2xZS5zSPxQ" data-toggle="modal" data-target="#videoModal">
            <i class="fa fa-play fa-3x"></i>
          </a>
          <h1>See What We Do</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- PHOTO GALLERY -->
<!-- <section id="gallery" class="py-5">
  <div class="container">
    <h1 class="text-center">Photo Gallery</h1>
    <p class="text-center">Check out our photos</p>
    <div class="row mb-4">
      <div class="col-md-4">
        <a href="https://source.unsplash.com/random/560x560" data-toggle="lightbox" data-gallery="img-gallery" data-height="560"
          data-width="560">
          <img src="https://source.unsplash.com/random/560x560" alt="" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4">
        <a href="https://source.unsplash.com/random/561x561" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
          data-width="561">
          <img src="https://source.unsplash.com/random/561x561" alt="" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4">
        <a href="https://source.unsplash.com/random/562x562" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
          data-width="562">
          <img src="https://source.unsplash.com/random/562x562" alt="" class="img-fluid">
        </a>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4">
        <a href="https://source.unsplash.com/random/563x563" data-toggle="lightbox" data-gallery="img-gallery" data-height="563"
          data-width="563">
          <img src="https://source.unsplash.com/random/563x563" alt="" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4">
        <a href="https://source.unsplash.com/random/564x564" data-toggle="lightbox" data-gallery="img-gallery" data-height="564"
          data-width="564">
          <img src="https://source.unsplash.com/random/564x564" alt="" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4">
        <a href="https://source.unsplash.com/random/565x565" data-toggle="lightbox" data-gallery="img-gallery" data-height="565"
          data-width="565">
          <img src="https://source.unsplash.com/random/565x565" alt="" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</section> -->

<!-- NEWSLETTER -->
<!-- <section id="newsletter" class="text-center p-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Sign Up For Our Newsletter</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio asperiores consectetur, quae ducimus voluptates vero
          repellendus architecto maiores recusandae mollitia?</p>
        <form class="form-inline justify-content-center">
          <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Name">
          <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Email">
          <button class="btn btn-primary mb-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section> -->

<!-- FOOTER -->
<!-- <footer id="main-footer" class="text-center p-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Copyright &copy;
          <span id="year"></span> Glozzom</p>
      </div>
    </div>
  </div>
</footer> -->


<!-- VIDEO MODAL -->
<div class="modal fade" id="videoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <iframe src="" frameborder="0" height="350" width="100%" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>