<div class="row">
  <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4"></div>

  <div class="col-sm-8 col-md-6 col-lg-4 col-xl-4">
    <div class="card my-5">
      <img class="card-img-top img-fluid" src="../../../assets/img/CubaLibreCoffee.jpeg" alt="">
      <div class="card-body">
        <h4 class="card-title">Cuba Libre Coffee</h4>
        <p class="card-text">Our instant coffees are expertly roasted and freeze-dried, locking in the taste and aroma of our top notch beans.</p>
        <p></p>
        <a class="btn btn-outline-dark" routerLink="/contact">Read More</a>
      </div>
    </div>
  </div>

  <div class="col-sm-2 col-md-3 col-lg-4 col-xl-4">
    <!-- <div class="card">
      <img class="card-img-top img-fluid" src="../../../assets/img/CubaLibreCoffee.jpeg" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div> -->
  </div>
</div>